@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #160959;
  --secondary: #ffffff;
  --text-gray: #A6A6A6;
  --background: #ffffff;
  --foreground: #171717;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

@media (prefers-color-scheme: Light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aeonik);
}

h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
}
h2{
  font-size: 24px;
  font-weight: 400;
}
h5{
  font-size: 20px;
  font-weight: 500;
  color:  #9EB2FF;
}
p,a,span,li,ol,ul,div{
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
      max-width: 1160px !important;
  }
}
@media (min-width: 1536px) {
  .container {
      max-width: 1436px !important;
  }
}


input , textarea , select{
  background-color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 18px 20px;
  &:focus-visible{
    outline: none;
  } 
}



.diamond-gradient{
  background: rgb(22,9,89);
  background: linear-gradient(40deg, rgba(22,9,89,1) 0%, rgba(46,32,120,1) 35%, rgba(100,82,190,1) 50%, rgba(49,34,124,1) 65%, rgba(22,9,89,1) 100%);
}

.clip-path:after{
  position: absolute;
  content: "";
  width: 300px;
  height: 40px;
  z-index: 0;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat !important;
  overflow-x: hidden;
}

.topleft:after{
  top: -1px;
  left: 0px;
  clip-path: polygon(0 1%, 100% 0, 85% 100%, 0 100%);
}

.btmright:after{
  bottom: -1px;
  right: 0px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
.btmleft:after{
  bottom: -1px;
  left: 0px;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}

.clippath-2:before{
    position: absolute;
    content: "";
    width: 300px;
    height: 40px;
    bottom: -1px;
    right: 0px;
    z-index: 10;
    background-color: #fff;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    @media (max-width: 768px) {
      display: none;
    } 
}

.breadcrumb-cut::after{
  content: "";
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 260px;
  height: 81px;
  background-image: url('/radius-cuts/breadcrumb-cut.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-cut::after{
  content: "";
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 201px;
  height: 62px;
  background-image: url('/radius-cuts/breadcrumb-cut.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


.BackflipSlider{
  .swiper-slide:nth-child(1) {
    background-color: var(--primary);
  }
  .swiper-slide:nth-child(2) {
    background-color: #190778;
  }
  .swiper-slide:nth-child(3) {
    background-color: #4632AC;
  }
  .swiper-slide:nth-child(4) {
    background-color: #6A55D6;
  }
  .swiper-pagination-bullets{
    bottom: -60px !important;
  }
}


/* grig background end  */

/* swiper global  */
.swiper-button-disabled {
  opacity: .5;
  cursor: not-allowed;
}
.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
  background-color: #8ca3ff !important;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet-active{
  background-color: var(--primary) !important;
  width: 40px !important;
  height: 10px !important;
  border-radius: 10px !important;
}

/* Navbar styles */
.navbar-home {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  color: white;
}

.navbar-default {
  background: white;
  position: static;
  color: black;
}

/* Common nav link styles */


.nav-link:hover {
  opacity: 0.8;
}



/* produds page  */
.corner-btn{
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
  background-color: var(--primary);
  color: white;
  padding: 5px 30px;
  cursor: pointer;
  width: 130px;
}

.product-gradient{
  background: radial-gradient(circle, rgba(29,0,176,1) 0%, rgba(22,9,89,1) 100%);
}


.hover-product-gradient:hover{
  background: radial-gradient(circle, rgba(29,0,176,1) 0%, rgba(22,9,89,1) 100%);
}
.product-grid-item:hover{
  background: radial-gradient(circle, rgba(45,114,255,1) 0%, rgba(22,9,89,1) 100%);
}
.fade-up {
  opacity: 0;
  animation: fade-up 1s forwards;
  animation-delay: .4s;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  @media (max-width: 768px) {

    h1 {
      font-size: 36px;
    }

  .clip-path:after{
    width: 200px;
    height: 15px;}

    .breadcrumb-cut::after{
      width: 201px;
      height: 62px;}
}


/* accordian  */
.rc-accordion-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  background-color: #ebedf0;
  transition: 0.3s;
  border-radius: 20px;
  gap: 20px;
}
.rc-accordion-card{
  margin-bottom: 20px;
  overflow: hidden;
}
.rc-accordion-title{
  position: relative;
  margin-bottom: 0;
  transition: 0.3s;
}
.rc-accordion-toggle.active {
  background-color: #738FFF;
  .rc-accordion-title{
    color: #fff;
  }
}
.rc-accordion-icon{
  position: relative;
  top: 2px;
  transition: 0.35s;
  font-size: 12px;
}
.rc-accordion-body{
  flex: 1 1 auto;
  min-height: 1px;
  border-radius: 20px;
  background-color: #ebedf0;
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show{
  height: auto;
}
/* accordian end  */


/* map  */
.gm-style-iw, .gm-style-iw-ch{
  padding: 0px !important;
}
.gm-ui-hover-effect{
margin-bottom: -50px !important ;
  span{
    background-color: #fff !important;
  }
}
.gm-style-iw-d{
  overflow: hidden !important;
}
/* map end  */

.grid-with-gradients {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: 
      linear-gradient(to right, rgb(255, 255, 255) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(255, 255, 255) 1px, transparent 1px);
  background-size: 21px 21px;
  overflow: hidden;
}

.gradient-sphere{
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
  background: radial-gradient(circle, #f1f2f8 0%, transparent 70%, transparent 100%);
}


span.label-dzbd7lyV.label-e9c6dycV.end-dzbd7lyV.top-dzbd7lyV.js-copyright-label {
  display: none;
}